#authTemplate {
    display: block;
    width: 90%;
    max-width: 25em;
    margin: 0 auto;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    padding: 2em;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    margin-top: 2em;
    margin-bottom: 2em;
  
    h2 {
      font-size: 1.5em;
      margin-bottom: 1.25em;
    }
  
    label {
      display: block;
      text-align: left;
      font-weight: bold;
      margin-bottom: 0.3125em;
      font-size: 0.875em;
    }
  
    input {
      width: 100%;
      padding: 0.625em;
      margin-bottom: 0.9375em;
      font-size: 1em;
      border: 0.0625em solid #ccc;
      border-radius: 0.25em;
      box-sizing: border-box;
    }
  
    button {
      width: 100%;
      padding: 0.625em;
      font-size: 1em;
      background-color: #000;
      color: #fff;
      border: none;
      cursor: pointer;
      border-radius: 0.25em;
      transition: background-color 0.3s ease;
  
      &:hover {
        background-color: #333;
      }
    }
  }
  

#connexionTemplate {
    display: block;
    max-width: 25em;
    margin: 0 auto;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
  
    h2 {
      font-size: 1.5em;
      margin-bottom: 1.25em;
    }
  
    label {
      display: block;
      text-align: left;
      font-weight: bold;
      margin-bottom: 0.3125em;
      font-size: 0.875em;
    }
  
    input {
      width: 100%;
      padding: 0.625em;
      margin-bottom: 0.9375em;
      font-size: 1em; 
      border: 0.0625em solid #ccc;
      border-radius: 0.25em;
      box-sizing: border-box;
    }
  
    button {
      width: 100%;
      padding: 0.625em;
      font-size: 1em;
      background-color: #000;
      color: #fff;
      border: none;
      cursor: pointer;
      border-radius: 0.25em;
      transition: background-color 0.3s ease;
  
      &:hover {
        background-color: #333;
      }
    }
}