@use 'sass:math';

$nombreCol: 12;
$goutiere: 0%;
$nombreGoutiere: $nombreCol - 1;
$largeurCol: math.div((100% - ($goutiere * $nombreGoutiere)), $nombreCol);

@mixin offset($nCol) {
    margin-left: $nCol * $largeurCol + ($nCol + 1) * $goutiere;
}

@mixin tailleElem ($tailleX) {
    width: $tailleX * $largeurCol + ($tailleX - 1) * $goutiere;
}

%row {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;

    &:after {
        content: "";
        display: table;
        clear: both;
    }

    %col {
        float: left;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding: 0 .75rem;
        min-height: 1px
    }
}

%black {
    background-color: #000 !important
}

%white-text {
    color: #fff !important
}

%center,
%center-align {
    text-align: center
}

@for $i from 1 through $nombreCol {
    %s#{$i} {
        @include tailleElem($i);
        margin-left: auto;
        left: auto;
        right: auto;
    }
}

@media only screen and (min-width: 601px) {
    @for $j from 1 through $nombreCol {
        %m#{$j} {
            @include tailleElem($j);
            margin-left: auto;
            left: auto;
            right: auto;
        }
    }
}